.website-name {
  font-family: "Bangers", cursive;
  font-family: "Lilita One", cursive;
  font-family: "Tilt Prism", cursive;
}
.active-url {
  font-family: "Bebas Neue", sans-serif;
}
.kicks {
  font-family: "Bagel Fat One", cursive;
}
.text {
  font-family: "Bagel Fat One", cursive;
  font-family: "Diphylleia", serif;
}
.navbar-responsive{
  
}
@media (max-width: 768px) {
  .navbar-responsive{
    width: 100vw;
  }
  .normal-case{
    padding: 0;
  }
}
